Package: tk.oceantweak.Ocean
Name: Ocean
Depends: mobilesubstrate
Version: 0.0.2beta2-2
Architecture: iphoneos-arm
Description: Supercharge Sileo with Ocean
Maintainer: webmaster@localhost.com
Author: TeamOcean
Section: Tweaks
