Package: tk.oceantweak.ocean
Name: Ocean
Depends: mobilesubstrate, preferenceloader, com.creaturecoding.libcspreferences, com.creaturesurvive.libcscolorpicker
Version: 0.1.1
Architecture: iphoneos-arm
Description: Supercharge Sileo with Ocean
Maintainer: webmaster@localhost.com
Author: TeamOcean
Section: Tweaks
Depiction: https://oceantweak.tk/repo/depictions/Ocean
Icon: file:///Library/PreferenceBundles/oceanprefs.bundle/icon-large.png
