<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>darkEnabled</key>
		<true/>
		<key>backgroundColor</key>
		<string>212121</string>
		<key>textColor</key>
		<string>f9f9f9</string>
		<key>infoText</key>
		<string>f9f9f9</string>
		<key>separatorColor</key>
		<string>f9f9f9</string>
		<key>selectColor</key>
		<string>f9f9f9</string>
		<key>visualEffectColor</key>
		<string>181818</string>
		<key>barColor</key>
		<string>181818</string>
		<key>tintColor</key>
		<string>ff6600</string>
		<key>tintEnabled</key>
		<true/>
	</dict>
</plist>
