<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>darkEnabled</key>
		<false/>
		<key>backgroundColor</key>
		<string>212121</string>
		<key>textColor</key>
		<string>f9f9f9</string>
		<key>infoText</key>
		<string>a9a9a9</string>
		<key>separatorColor</key>
		<string>a4a4a4</string>
		<key>selectColor</key>
		<string>3b3b3b</string>
		<key>visualEffectColor</key>
		<string>181818</string>
		<key>tintColor</key>
		<string>ff6600</string>
		<key>tintEnabled</key>
		<false/>
		<key>repoSupport</key>
		<true/>
		<key>exportBtn</key>
		<true/>
	</dict>
</plist>
