<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>OCPPrefBannerCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Dark Mode does not effect web depictions</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Darkmode Enabled</string>
				<key>key</key>
				<string>darkEnabled</string>
				<key>isGroupToggle</key>
				<false/>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>default</key>
				<false/>
			</dict>

			<dict>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>key</key>
				<string>backgroundColor</string>
				<key>label</key>
				<string>Background Color</string>
				<key>fallback</key>
				<string>212121</string>
				<key>alpha</key>
				<true/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/oceanprefs.bundle</string>
			</dict>

			<dict>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>key</key>
				<string>Text Color</string>
				<key>label</key>
				<string>TextColor</string>
				<key>fallback</key>
				<string>f9f9f9</string>
				<key>alpha</key>
				<true/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/oceanprefs.bundle</string>
			</dict>

			<dict>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>key</key>
				<string>infoText</string>
				<key>label</key>
				<string>Package Info Text</string>
				<key>fallback</key>
				<string>a9a9a9</string>
				<key>alpha</key>
				<true/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/oceanprefs.bundle</string>
			</dict>

			<dict>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>key</key>
				<string>separatorColor</string>
				<key>label</key>
				<string>Separator Color</string>
				<key>fallback</key>
				<string>a4a4a4</string>
				<key>alpha</key>
				<true/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/oceanprefs.bundle</string>
			</dict>

			<dict>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>key</key>
				<string>selectColor</string>
				<key>label</key>
				<string>Select Color</string>
				<key>fallback</key>
				<string>3b3b3b</string>
				<key>alpha</key>
				<true/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/oceanprefs.bundle</string>
			</dict>

			<dict>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>key</key>
				<string>visualEffectColor</string>
				<key>label</key>
				<string>Bar and Header Color</string>
				<key>fallback</key>
				<string>181818</string>
				<key>alpha</key>
				<true/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/oceanprefs.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Custom tint color</string>
				<key>key</key>
				<string>tintEnabled</string>
				<key>isGroupToggle</key>
				<false/>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>default</key>
				<false/>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSColorDisplayCell</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>key</key>
				<string>tintColor</string>
				<key>label</key>
				<string>Tint Color</string>
				<key>fallback</key>
				<string>ff6600</string>
				<key>alpha</key>
				<true/>
				<key>defaultsPath</key>
				<string>/Library/PreferenceBundles/oceanprefs.bundle</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Add support for more repos</string>
				<key>key</key>
				<string>repoSupport</string>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>default</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Add export tweaks button</string>
				<key>key</key>
				<string>exportBtn</string>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>default</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enable JS in all repos</string>
				<key>key</key>
				<string>enableJS</string>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>defaults</key>
				<string>tk.oceantweak.oceanprefs</string>
				<key>default</key>
				<true/>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>TeamOcean © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>Support</string>
				<key>label</key>
				<string>Support &amp; Creators</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPBackupListViewController</string>
				<key>isController</key>
				<true/>
				<key>PostNotification</key>
				<string>tk.oceantweak.oceanprefs.prefschanged</string>
				<key>label</key>
				<string>Backup &amp; Restore</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPChangeLogController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>ChangeLog</string>
				<key>changes</key>
				<array>
					<dict>
						<key>0.1.0</key>
						<array>
							<string>initial release</string>
						</array>
					</dict>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Ocean</string>
	</dict>
</plist>
